<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    </head>
<body>

<nav class="navbar" th:fragment="navbar">
    <div class="navbar-brand">
        <a th:href="@{/inicio}" class="navbar-logo">
            VetWeb Gestor
        </a>
    </div>
    <div class="navbar-links">
        <a  th:href="@{/inicio}" class="nav-item">Inicio</a>
        <a th:href="@{/mascotas/listar}" class="nav-item">Pacientes</a>
        <a sec:authorize="hasAnyRole('TUTOR', 'ADMIN')" th:href="@{/mascotas/crear}" class="nav-item">Nueva Mascota</a>
        <a sec:authorize="hasRole('TUTOR')" th:href="@{/citas/mis-citas}" class="nav-item">Mis Citas</a>
        <a sec:authorize="hasRole('TUTOR')" th:href="@{/citas/agendar}" class="nav-item">Agendar Cita</a>
        <a sec:authorize="hasAnyRole('VETERINARIO', 'ADMIN')" th:href="@{/citas/calendario}" class="nav-item">Calendario</a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/usuarios/listar}" class="nav-item">Usuarios</a>
        <form th:action="@{/logout}" method="post" class="navbar-logout-form">
            <button sec:authorize="isAuthenticated()" type="submit" class="nav-item nav-logout">Cerrar Sesión</button>
        </form>
    </div>
</nav>


<footer class="footer" th:fragment="footer">
    <p>&copy; <span th:text="${#dates.year(#dates.createNow())}">2025</span> VetWeb. Todos los derechos reservados.</p>
</footer>

</body>
</html>