<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    </head>
<body>

<nav class="navbar" th:fragment="navbar">
    <div class="navbar-brand">
        <a th:href="@{/mascotas/listar}" class="navbar-logo">
            VetWeb Gestor
        </a>
    </div>
    <div class="navbar-links">
        <a th:href="@{/mascotas/listar}" class="nav-item">Pacientes</a>
        <a th:href="@{/mascotas/crear}" class="nav-item">Nueva Mascota</a>
        <a th:href="@{/usuarios/listar}" class="nav-item">Usuarios</a>
        <a th:href="@{/usuarios/login}" class="nav-item nav-logout">Cerrar Sesión</a>
    </div>
</nav>


<footer class="footer" th:fragment="footer">
    <p>&copy; <span th:text="${#dates.year(#dates.createNow())}">2025</span> VetWeb. Todos los derechos reservados.</p>
</footer>

</body>
</html>